img {
  width: 300px;
}

.column1 {
  width: 300px;
  float: left;
  background-color: pink;
}
.column2 {
  width: 300px;
  float: left;
  background-color: lightblue;
}
.column3 {
  width: 300px;
  float: left;
  background-color: yellow;
}
